#show-contact {
    display: none;
}

.contact {
    cursor: pointer;
    color: #0088cc;
}

.contact:hover {
    text-decoration: underline;
}

.account {
    background:coral;
}
.withdraw {
    background:aqua;
}

.daButton{
  height: 80px;
  width: 90px;
}
